@use "@/styles/variables.scss" as *;

// Global styles for the application

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family;
}

#app {
  height: 100%;
}

// 微前端环境下的容器样式
#micro-app-container {
  height: 100%;
  
  #app {
    height: 100%;
  }
}

// Element Plus custom styles
:root {
  --el-color-primary: $primary-color;
  --el-color-success: $success-color;
  --el-color-warning: $warning-color;
  --el-color-danger: $danger-color;
  --el-color-info: $info-color;
}

// Element Plus custom styles
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

// Sidebar menu item
// .el-sub-menu .el-menu-item {
//   min-width: $sidebar-width !important;
//   background-color: $sidebar-bg-color !important;
//
//   &:hover {
//     background-color: $sidebar-hover-bg-color !important;
//   }
// }

// Tabs view
.tabs-view-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
}